.search-field {
  text-align: center;
  margin-top: 20px;
}
.search {
  border: 1px solid gainsboro;
  padding: 10px;
  width: 50%;
  border-radius: 3px;
  color: gray;
}

.srch-btn {
  padding: 10px;
  border: 1px solid gainsboro;
  border-left: 0;
}

.product-conatiner {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-top: 50px;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
